body{

margin:0;
padding:20px;

background:#202020;
color:white;

font-family:Arial;

display:flex;
justify-content:center;

}

.container{

width:100%;
max-width:450px;

}

h1{

text-align:center;

}

input{

width:100%;
padding:15px;

font-size:22px;

box-sizing:border-box;

margin-bottom:15px;

}

button{

width:100%;
padding:15px;

font-size:22px;

cursor:pointer;

}

#result{

margin-top:25px;

padding:20px;

background:#333;

border-radius:10px;

font-size:24px;

text-align:center;

min-height:40px;

}